<!-- <formio
  [form]="rendererService.form"
  [renderOptions]="rendererService.rendererOption"
  [submission]="formSubmission"
  (submit)="rendererService.onSubmit($event)"
  (formLoad)="rendererService.onFormLoad($event)"
></formio> -->

<!-- <formio-main-renderer 
  #instance
[screenId]="screenId"
(onSubmitEvent)="changeValue($event)"
></formio-main-renderer> -->

<!-- <formio-main-renderer 
#instance
[screenId]="screenId"
[formSubmissionLoad]="formSubmissionLoad"
[formSubmission]="formSubmission"
(onSubmitEvent)="submitValue($event)"
(onChangeEvent)="changeValue($event)"
></formio-main-renderer> -->

<formio-main-renderer 
#instance
[screenId]="screenId"
[formSubmissionLoad]="formSubmissionLoad"
[formSubmission]="formSubmission"
(onSubmitEvent)="submitValue($event)"
(onChangeEvent)="changeValue($event)"
></formio-main-renderer>
