/* You can add global styles to this file, and also import other style files */
ol.breadcrumb.wizard-pages{
    background-color: #ececec;
}
ol.breadcrumb.wizard-pages > li > span{
    color: #212529;

}

.box-border{
    border: 1px solid black;
    padding: 15px;
}

.box-margin{
    margin-top: 20px;
    margin-bottom: 20px;
}
